<div class="container">
    <div class="card purple" routerLink="../loan">
        <div>
            <span>My Loans</span>
            <i class="pi pi-percentage purple-i"></i>
        </div>
        <p>View/Cancel/Repay Loans That You Have Requested.</p>
    </div>

    <div class="card orange" routerLink="../bid">
        <div>
            <span>My Bids</span>
            <i class="pi pi-arrow-up-right orange-i"></i>
        </div>
        <p>View/Cancel Bids That You Have Made On Other Peers' Loan Requests.</p>
    </div>

    <div class="card blue" routerLink="../peer">
        <div>
            <span>Peers' Bids</span>
            <i class="pi pi-arrow-down-left blue-i"></i>
        </div>
        <p>View/Accept/Reject Bids That Are Made On Your Loans Requests.</p>
    </div>
</div>

<div class="navbar">
    <div class="header">Requests</div>
    <button pButton class="p-button-outlined p-button-info p-button-sm" label="Request" icon="pi pi-send" iconPos="right"></button>
</div>