.navbar {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--surface-b), var(--purple-500), var(--surface-b));
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;
}

:host ::ng-deep .p-tabview-nav {
    display: flex;
    justify-content: space-between;
    background: var(--surface-e);
    border-radius: 5px;
}

:host ::ng-deep .p-tabview-nav * {
    width: 100%;
    padding: 0;
    margin: 0;
}

:host ::ng-deep .p-tabview > * {
    background: var(--surface-b);
    padding: 0;
}

:host ::ng-deep .purple .p-button-label, :host ::ng-deep .purple .p-button-icon {
    color: var(--purple-500);
}