<div class="navbar">
    <button pButton (click)="previousPage()" class="p-button-text p-button-raised p-button-secondary p-button-sm" label="Back" icon="pi pi-arrow-left"></button>
    <div class="purple">
        <button pButton class="p-button-text p-button-raised p-button-sm" label="My Loans" icon="pi pi-percentage" iconPos="right"></button>
    </div>
</div>

<p-tabView>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <div class="tabviewheader">Pending</div>
        </ng-template>

        <ng-template pTemplate="content">
            <div class="no-content">
                No Loans To Display.
            </div>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <div class="tabviewheader">Owing</div>
        </ng-template>

        <ng-template pTemplate="content">
            <div class="no-content">
                No Loans To Display.
            </div>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <div class="tabviewheader">Settled</div>
        </ng-template>

        <ng-template pTemplate="content">
            <div class="no-content">
                No Loans To Display.
            </div>
        </ng-template>
    </p-tabPanel>
</p-tabView>