@import url('node_modules/primeicons/primeicons.css');
@import url('node_modules/font-awesome/css/font-awesome.min.css');
@import url('../node_modules/primeng/resources/themes/arya-green/theme.css');
@import url('node_modules/primeng/resources/primeng.min.css');

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    height: 100%;
    margin-left: 25vw;
    margin-right: 25vw;
}

@media only screen and (max-width: 1980px) {
  body {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

@media only screen and (max-width: 1440px) {
  body {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

@media only screen and (max-width: 980px) {
  body {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media only screen and (max-width: 768px) {
  body {
    margin-left: 8px;
    margin-right: 8px;
  }
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: var(--surface-d); 
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
}

.tabviewheader, .no-content {
    width: 100%;
    text-align: center;
}

.no-content {
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--surface-d);
}