.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.row button {
    width: fit-content;
}

.header img {
    height: 22px;
    margin-top: 5px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 50px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--surface-b), var(--purple-500), var(--orange-500), var(--blue-500), var(--surface-b));
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: gray;
}

.details {
    font-size: small;
    color: gray;
}