<p-menubar>
  <ng-template pTemplate="start">
    <div class="header" routerLink="">
      <img src="../assets/logoblack.png"/>
    </div>
  </ng-template>
  <div class="row">
    <button *ngIf="!connected" pButton (click)="connectWallet()" class="p-button-outlined p-button-sm" label="Connect" icon="pi pi-sign-in" iconPos="right"></button>
    <div *ngIf="connected" class="p-inputgroup p-textinput-sm">
      <button (click)="clipboard.copy(address)" class="p-button-text p-button-secondary" style="padding: 0 10px; border: 1px solid var(--surface-c);" pButton icon="pi pi-copy" pTooltip="Copy"></button> 
      <input type="text" [(ngModel)]="address" pInputText placeholder="Address" [disabled]="true" >
      <button (click)="disconnect()" class="p-button-text p-button-warning" style="padding: 0 10px; border: 1px solid var(--surface-c);" pButton icon="pi pi-sign-out" pTooltip="Disconnect"></button>  
    </div>
  </div>
</p-menubar>

<div class="container">
  <div class="card purple" routerLink="loan">
    <div>
      <span>My Loans</span>
      <i class="pi pi-percentage purple-i"></i>
    </div>
    <p>View/Cancel/Repay Loans That You Have Requested.</p>
  </div>
  
  <div class="card orange" routerLink="bid">
    <div>
      <span>My Bids</span>
      <i class="pi pi-arrow-up-right orange-i"></i>
    </div>
    <p>View/Cancel Bids That You Have Made On Other Peers' Loan Requests.</p>
  </div>
  
  <div class="card blue" routerLink="approve">
    <div>
      <span>Peers' Bids</span>
      <i class="pi pi-arrow-down-left blue-i"></i>
    </div>
    <p>View/Accept/Reject Bids That Are Made On Your Loans Requests.</p>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <div class="links details">
    Credex @{{year}}
  </div>
  <div class="links">
    <i class="fa fa-linkedin"></i>
    <i class="fa fa-github"></i>
    <i class="fa fa-envelope"></i>
  </div>
</div>